.intro {
  padding: 0 20%;
  padding-bottom: 3%;
}

.links {
    display: flex;
    justify-content: space-around;
}

.carousel {
    margin: 0 10%;
}

.card {
    background-color: #17a2b8!important;
    display: flex;
    justify-content: center;
    color: white!important;
}

.card a {
    color: white!important;
}

.card-body {
    display: flex;
    justify-content: space-around;
}

.links {
  padding: 0 20%;
  padding-bottom: 3%;
}