#logo {
  font-family: Gabriola; 
  color: white !important; 
  font-size: 30px;
}

.nav-link:hover {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding: 6px 0; 
}

.nav-link {
  color: white !important;
}